html, body{
	font-family: arial, Hei, SimSun, ËÎÌå, ºÚÌå, ºÚÌå, Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif;
	background-color:#090B13;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	2016/2/18user-select: none;          /* Likely future */  
}

.divHeader{
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divOverlayDetails{
	position: absolute;
	top:0px;
	right:0px;
	width:200px;
	height:400px;
	background-color:#000000;
	border-left: solid 2px #0E122C;
	border-top: solid 2px #0E122C;
	border-bottom: solid 2px #0E122C;
	display:none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.divOverlayClose{
	float:left;
	width:30px;
	height:100%;
	background-image:url(../img/ico_close_right.png);
	background-position:center center;
	background-size: 20px 20px;
	background-repeat:no-repeat;
}

.divOverlayContent{
	float:right;
	width:170px;
	box-sizing: border-box;
	height:100%;
	padding:5px;
}


.divIndexObj{
	float:left;
	border:solid 1px #0E122C; 
	box-sizing: border-box;
	height:40px;
	width: 50%;
	display:table;
	background-color:#eeeeee;
}

.divIndexObjName{
	color: #0E122C;
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjPrice{
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjDelta{
	color: #0E122C;
	float:left;
	width:180px;
	padding:5px;
}

.divIndexLObj{
	float:left;
	border:solid 1px #0E122C; 
	box-sizing: border-box;
	height:80px;
	width:50%;
	background-color:#eeeeee;
}

.divIndexLObjName{
	float:left;
	color: #0E122C;
	float:left;
	box-sizing: border-box;
	width:110px;
	line-height:30px;
	padding:5px;
	font-size:20px;
}

.divIndexLObjChart{
	float:right;
	width:180px;
	padding:5px;
	height:65px;
	background-size:contain;
	background-position:0px 5px;
	background-repeat:no-repeat;
}


.divIndexLObjPrice{
	float:left;
	box-sizing: border-box;
	width:150px;
	line-height:30px;
	padding:5px;
	font-size:30px;
}

.divIndexLObjDelta{
	float:left;
	color: #0E122C;
	box-sizing: border-box;
	width:200px;
	padding:5px;
	font-size:20px;
}


.divStockObj{
	display:table;
	width: 160px;
	height: 120px;
	border:solid 1px #ffffff; 
	background-color:#090B13;
}

.divStockObjSel{
	background-color:#081A61;
}

.divStockObjTitle{
	width:100%;
	box-sizing: border-box;
	height:5px;
}

.divStockObjCode{
	float:left;
	width:70%;
	box-sizing: border-box;
	padding:5px;
	line-height:12px;
	font-size:20px;
}

.divStockObjName{
	float:left;
	width:70%;
	box-sizing: border-box;
	padding:5px;
	line-height:12px;
	font-size:14px;
}

.divStockObjMeet{
	float: right;
    width: 30%;
    height: 40px;
    color: #090B13;
	text-align:center;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
    background-image: url(../img/ico_cal.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.divStockObjHighLow{
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divStockObjHigh{
	float: right;
	width:50%;
	box-sizing: border-box;
	padding:5px;
	padding-left:20px;
	line-height:12px;
	font-size:16px;
	background-image:url(../img/ico_up_arrow.png);
	background-size:12px 12px;
	background-position: 5px center;
	background-repeat:no-repeat;
}

.divStockObjLow{
	float: right;
	width:50%;
	box-sizing: border-box;
	padding:5px;
	padding-left:20px;
	line-height:12px;
	font-size:16px;
	background-image:url(../img/ico_down_arrow.png);
	background-size:12px 12px;
	background-position: 5px center;
	background-repeat:no-repeat;

}

.divStockObjPrice{
	width:100%;
	box-sizing: border-box;
	padding:5px;
	line-height:16px;
	font-size:26px;
}

.divStockObjDelta{
	width:100%;
	box-sizing: border-box;
	line-height:12px;
	padding:5px;
}

.divFontStock5{
	color:#C8D409;
}

.divFontStock4{
	color:#10AF05;
}

.divFontStock3{
	color:#ffffff;
}

.divFontStock2{
	color:#C90505;
}

.divFontStock1{
	color:#FD5D5D;
}

.divTitleStock5{
	background-color:#C8D409;
}

.divTitleStock4{
	background-color:#10AF05;
}

.divTitleStock3{
	background-color:#ffffff;
}

.divTitleStock2{
	background-color:#C90505;
}

.divTitleStock1{
	background-color:#FD5D5D;
}

.ulStockContainer { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.ulStockContainer li { 
	margin: 3px; 
	float: left; 
	width: 160px; 
	height: 120px; 
}
  

/********************************************/
.divDetailsChart{
	width:160px;
	height:160px;
}

.divDetailsAlertSetRow{
	line-height:30px;
	width:160px;
	height:30px;
}

.divDetailsAlertSet{
	display:none;
}

.txtStockAlarm{
	width:100%;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
	text-align:right
}

.btnStockAlarm{
	width:100%;
	box-sizing: border-box;
}