html, body{
	font-family: arial, Hei, SimSun, ËÎÌå, ºÚÌå, ºÚÌå, Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif;
	background-color:#090B13;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	2016/2/18user-select: none;          /* Likely future */  
}

.divHeader{
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divBody{
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divSideMenu{
	float:left;
	width:80px;
	display:table;
}

.divStockGrid{
	float:left;
	height:100%;
	display:table;
}

.divOverlayDetails{
	position: fixed;
	top:0px;
	right:0px;
	width:200px;
	height:400px;
	background-color:#000000;
	border-left: solid 2px #0E122C;
	border-top: solid 2px #0E122C;
	border-bottom: solid 2px #0E122C;
	display:none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.divOverlayClose{
	float:left;
	width:30px;
	height:100%;
	background-image:url(../img/ico_close_right.png);
	background-position:center center;
	background-size: 20px 20px;
	background-repeat:no-repeat;
}

.divOverlayContent{
	float:right;
	width:170px;
	box-sizing: border-box;
	height:100%;
	padding:5px;
}

@media (max-width:320px) {
	.divIndexObj{
		width: 100%;
    }

	.divIndexLObj{
		width: 100%;
    }
	
	.divIndexLObjChart{
		display:none;
	}


}

@media (min-width:321px) and (max-width:1000px) {
    .divIndexObj{
		width: 100%;
    }

	.divIndexLObj{
		width: 100%;
    }
}

@media (min-width:1001px) {
    .divIndexObj{
		width: 50%;
    }

	.divIndexLObj{
		width: 50%;
    }
}


.divIndexObj{
	float:left;
	border:solid 1px #0E122C; 
	box-sizing: border-box;
	height:40px;
	display:table;
	background-color:#eeeeee;
}

.divIndexObjName{
	color: #0E122C;
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjPrice{
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjDelta{
	float:left;
	color: #0E122C;
	width:200px;
	padding:5px;
}

.divIndexLObj{
	float:left;
	border:solid 1px #0E122C; 
	box-sizing: border-box;
	height:80px;
	background-color:#eeeeee;
}

.divIndexLObjName{
	float:left;
	color: #0E122C;
	float:left;
	box-sizing: border-box;
	width:110px;
	line-height:30px;
	padding:5px;
	font-size:20px;
}

.divIndexLObjChart{
	float:right;
	width:180px;
	padding:5px;
	height:65px;
	background-size:contain;
	background-position:0px 5px;
	background-repeat:no-repeat;
}


.divIndexLObjPrice{
	float:left;
	box-sizing: border-box;
	width:150px;
	line-height:30px;
	padding:5px;
	font-size:30px;
}

.divIndexLObjDelta{
	color: #0E122C;
	box-sizing: border-box;
	width:200px;
	padding:5px;
	font-size:20px;
}


.divStockObj{
	display:table;
	width: 150px;
	height: 120px;
	border:solid 1px #ffffff; 
	background-color:#090B13;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.divUpUp{
    background-image: url(../img/ico_upup.png);
}

.divUp{
    background-image: url(../img/ico_up.png);
}

.divDownDown{
    background-image: url(../img/ico_downdown.png);
}

.divDown{
    background-image: url(../img/ico_down.png);
}

.divStockObjSel{
	background-color:#081A61;
}

.divStockObjTitle{
	width:100%;
	box-sizing: border-box;
	height:5px;
}

.divStockObjCodeRow{
	background-color: rgba(9,11,19,0.6);
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divStockObjCode{
	float:left;
	width:60%;
	box-sizing: border-box;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
	line-height:16px;
	font-size:16px;
	color:cccccc;
}

.divStockObjMeet{
	float: right;
    width: 20%;
    height: 100%;
    color: #090B13;
	text-align:center;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    
}

.divStockObjName{
	background-color: rgba(9,11,19,0.6);
	width:100%;
	box-sizing: border-box;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
	line-height:14px;
	font-size:14px;
}

.divStockObjPriceRow{
	background-color: rgba(9,11,19,0.6);
	width:100%;
	box-sizing: border-box;
	display:table;
}

.divStockObjPrice{
	float: left;
	width:80%;
	box-sizing: border-box;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
	line-height:26px;
	font-size:26px;
	text-shadow: 0px 0px 15px #000000;
}

.divStockObjDelta{
	background-color: rgba(9,11,19,0.6);
	width:100%;
	box-sizing: border-box;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-right:5px;
	line-height:16px;
	font-size:16px;
	padding:5px;
}

.divStockObjHighLow{
	background-color: rgba(9,11,19,0.6);
	width:100%;
	box-sizing: border-box;
	display:table;
}



.divMeet{
	background-image: url(../img/ico_cal.png);
	background-size: contain;
	background-position: center center;
    background-repeat: no-repeat;
}

.divStarUp{
	background-image: url(../img/ico_star_up.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.divStarUpUp{
	background-image: url(../img/ico_star_upup.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.divStarDown{
	background-image: url(../img/ico_star_down.png);
    background-size: contain;
	background-position: center center;
    background-repeat: no-repeat;
}

.divStarDownDown{
	background-image: url(../img/ico_star_downdown.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}



.divStockObjHigh{
	float: right;
	width:50%;
	box-sizing: border-box;
	padding:5px;
	padding-left:20px;
	line-height:12px;
	font-size:16px;
	background-image:url(../img/ico_up_arrow.png);
	background-size:12px 12px;
	background-position: 5px center;
	background-repeat:no-repeat;
}

.divStockObjLow{
	float: right;
	width:50%;
	box-sizing: border-box;
	padding:5px;
	padding-left:20px;
	line-height:12px;
	font-size:16px;
	background-image:url(../img/ico_down_arrow.png);
	background-size:12px 12px;
	background-position: 5px center;
	background-repeat:no-repeat;

}


.divFontStock5{
	color:#C8D409;
}

.divFontStock4{
	color:#10AF05;
}

.divFontStock3{
	color:#ffffff;
}

.divFontStock2{
	color:#C90505;
}

.divFontStock1{
	color:#FD5D5D;
}

.divTitleStock5{
	background-color:#C8D409;
}

.divTitleStock4{
	background-color:#10AF05;
}

.divTitleStock3{
	background-color:#ffffff;
}

.divTitleStock2{
	background-color:#C90505;
}

.divTitleStock1{
	background-color:#FD5D5D;
}

.ulStockContainer { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.ulStockContainer li { 
	margin: 3px; 
	float: left; 
	width: 150px; 
	height: 120px; 
}


 
/********************************************/
.divLoadBg{
	position:fixed;
	width:100%;
	height:100%;
	box-sizing:border-box;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
}

/********************************************/
#divAlertMsg{
	width:300px;
	display:table;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border:solid 1px #cccccc;
}

.divPopHeader{
	color:#000000;
	background-color:#ffffff;
	padding:5px;
	text-align:center;
}
.divPopContentRow{
	border:solid 1px #cccccc;
	background-color:#ffffff;
	padding:5px;
	text-align:center;
}



/********************************************/
.divDetailsChart{
	width:160px;
	height:160px;
}

.divDetailsAlertSetRow{
	line-height:30px;
	width:160px;
	height:30px;
}

.divDetailsAlertSet{
	display:none;
}

.txtStockAlarm{
	width:100%;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
	text-align:right
}

.btnStockAlarm{
	width:100%;
	box-sizing: border-box;
}