html, body{
	font-family: arial, Hei, SimSun, ËÎÌå, ºÚÌå, ºÚÌå, Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif;
	background-color:#0E122C;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
}

.divHeader{
	width:100%;
	box-sizing: border-box;
	display:table;
	background-color:#3650F3;
}

.divIndexObj{
	border-bottom:solid 1px #ffffff; 
	border-left:solid 1px #ffffff; 
	float:left;
	display: table-cell;
	box-sizing: border-box;
}

.divIndexObjName{
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjPrice{
	float:left;
	width:120px;
	padding:5px;
}

.divIndexObjDelta{
	float:left;
	width:180px;
	padding:5px;
}

.divStockObj{
	float:left;
	display:table;
	width: 200px;
	height: 180px;
	border:solid 1px #ffffff; 
	margin-top:5px;
	margin-right:5px;
}

.divStockObjTitle{
	width:100%;
	box-sizing: border-box;
	height:20px;
	padding:5px;
}



.divStockObjCode{
	width:100%;
	box-sizing: border-box;
	padding:5px;
	font-size:20px;
}

.divStockObjName{
	width:100%;
	box-sizing: border-box;
	padding:5px;
	font-size:20px;
}

.divStockObjPrice{
	width:100%;
	box-sizing: border-box;
	padding:5px;
	font-size:26px;
}

.divStockObjDelta{
	width:100%;
	box-sizing: border-box;
	padding:5px;
}

.divFontStock5{
	color:#C8D409;
}

.divFontStock4{
	color:#10AF05;
}

.divFontStock3{
	color:#ffffff;
}

.divFontStock2{
	color:#960101;
}

.divFontStock1{
	color:#FD5D5D;
}

.divTitleStock5{
	background-color:#C8D409;
}

.divTitleStock4{
	background-color:#10AF05;
}

.divTitleStock3{
	background-color:#ffffff;
}

.divTitleStock2{
	background-color:#960101;
}

.divTitleStock1{
	background-color:#FD5D5D;
}